@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    font-family: Montserrat;
}

.title {
    margin: 10px 0;
}

.title h1 {
    width: fit-content;
    font-family: Plafair Display;
    font-weight: 700;
    font-size: 48px;
}

.subtitle {
    margin-bottom: 30px;
}

div .icon {
    width: min-content;
}

.subtitle .text {
    display: flex;
    width: fit-content;
}

.subtitle h2 {
    color: #4F4F4F;
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
}

.text-1 h1 {
    margin: 30px 0;
    font-family: Playfair Display;
    font-size: 24px;
    font-weight: 700;
}

.text-2 h2 {
    margin: 20px 0;
    font-family: Playfair Display;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
}

.form-check label {
    font-weight: 400;
    font-size: 16px;
    margin: 0 10px;
}

.form {
    display: flex;
    margin: 10px 0;
}

.form .number {
    background-color: #f2994A;
    border-radius: 5px;
    margin-right: 10px;
    text-align: center;
    width: 40px;
    height: 40px;
}

.form .number h1 {
    position: relative;
    font-family: Playfair Display;
    font-size: 24px;
    color: #ffffff;
    top: 0;
    left: 0;
}

.form .text {
    margin-left: 10px;
    width: fit-content;
}

.form .text h2 {
    font-size: 16px;
    font-weight: 400;
}

.box {
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    border: solid 1px #ffffff;
    height: 300px;
    width: 100%;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.box .dataBox {
    display: flex;
    margin: 0 10px;
}

.box .dataBox .row {
    margin-bottom: auto;
}

.box .dataBox .text {
    margin: 0 10px;
}

.box .dataBox .text h3 {
    color: #BDBDBD;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
}

.box .dataBox .text h4 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    color: #F2994A;
}

h5 {
    color: #BDBDBD;
    margin: 30px 0;
    width: 500px;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

footer {
    text-align: center;
}